/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.number-input-container{
    display: flex;
    align-items: center;
}
.number-input-container input{
    width: var(--space-xxl);
    padding: var(--space-xs);
    font-size: var(--text-xl);
    font-weight: bold;
    text-align: center;
    border: var(--space-xxs) solid hsl(130, 100%, 83%);
}
.number-input-container label{
    font-size: var(--text-base);
    font-weight: bold;
    padding: var(--space-xs) var(--space-s);
    background-color: hsl(130, 100%, 83%);
    border: var(--space-xxs) solid hsl(130, 100%, 83%);
    border-right: none;
}

/* Increment and Decrement button container */
.arrow-container{
    display: flex;
    flex-direction: column;
}
.arrow-container button{
    padding: 0;
    color: hsl(0, 0%, 10%);
    background-color: hsl(130, 100%, 73%);
    border: none;
    cursor: pointer;
}
.arrow-icon{
    font-size: var(--text-xl);
    padding: 0 var(--space-xxs);
}
.arrow-container button:hover:not([disabled]){
    background-color: hsl(130, 100%, 53%);
}
.increment:disabled, .decrement:disabled {
    color: hsl(0, 0%, 62%);
    pointer-events: none;
    cursor: not-allowed;
}

/*------------------------------------- Responsive styles for small screens --------------------------------*/
@media only screen and (max-width: 576px){
    .number-input-container input{
        width: var(--space-xxl);
        padding: var(--space-s);
        font-size: var(--text-xl);
    }
    .number-input-container label{
        font-size: var(--text-lg);
        padding: var(--space-xs) var(--space-md);
    }
    .arrow-icon{
        font-size: 1.5rem;
        padding: 0 var(--space-xxs);
    }
}