.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.input-container input[type=text]{
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--text-xl);
  width: 55%;
  border: var(--space-xxs) solid hsl(130, 100%, 83%);
}
.input-container button{
  font-size: var(--text-base);
  padding: var(--space-xs) var(--space-s);
  font-weight: bold;
  border-width: var(--space-xxs);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.add-replace-container, .remove-and-counter-container, .remove-range-container, .winner-counter-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-replace-container, .remove-and-counter-container{
  width: 100%;
  margin-bottom: var(--space-sm);
}

#add-btn{
  background-color: hsl(227, 88%, 52%);
  border-color: hsl(227, 88%, 52%);
}
#add-btn:hover{
  background-color: hsl(227, 88%, 42%);
}
#replace-btn{
  background-color: hsl(27, 88%, 52%);
  border-color: hsl(27, 88%, 52%);
}
#replace-btn:hover{
  background-color: hsl(27, 88%, 42%);
}
#remove-btn{
  background-color: hsl(0, 88%, 52%);
  border-color: hsl(0, 88%, 52%);
}
#remove-btn:hover{
  background-color: hsl(0, 88%, 42%);
}
#select-btn{
  background-color: hsl(270, 88%, 52%);
  border-color: hsl(270, 88%, 52%);
  padding: var(--space-xs) var(--space-xxl);
  margin-right: var(--space-s);
}
#select-btn:hover{
  background-color: hsl(270, 88%, 42%);
}
#reset-btn{
  color: hsl(0, 0%, 100%);
  background-color: hsl(140, 100%, 36%);
  border-color: hsl(140, 100%, 36%);
}
#reset-btn:hover{
  background-color: hsl(140, 100%, 28%);
}
.selector-container button{
  text-transform: uppercase;
}
.selector-container{
  margin-top: var(--space-s);
}

#error-message{
  color: hsl(0, 100%, 50%);
  padding: var(--space-xxs) var(--space-md);
  font-size: var(--text-sm);
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--space-xl);
  animation: error 1s infinite 1s alternate;
}
@keyframes error{
  from{
    color: hsl(0, 100%, 50%);
  }
  to{
    color: hsl(0, 100%, 40%);
  }
}