.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

/* Add/Replace text input */
.input-container input[type=text]{
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--text-xl);
  width: 55%;
  border: var(--space-xxs) solid hsl(130, 100%, 83%);
}

/* Add, Replace, Remove, Select, Reset buttons */
.input-container button{
  font-size: var(--text-base);
  padding: var(--space-xs) var(--space-s);
  font-weight: bold;
  border-width: var(--space-xxs);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.add-replace-container, .remove-and-counter-container, .remove-range-container, .winner-counter-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-replace-container, .remove-and-counter-container{
  width: 100%;
  margin-bottom: var(--space-sm);
}
.remove-and-counter-container, .winner-counter-container{
  column-gap: 20px;
}

#add-btn{
  background-color: hsl(227, 88%, 52%);
  border-color: hsl(227, 88%, 52%);
}
#add-btn:hover{
  background-color: hsl(227, 88%, 42%);
}
#replace-btn{
  background-color: hsl(27, 88%, 52%);
  border-color: hsl(27, 88%, 52%);
}
#replace-btn:hover{
  background-color: hsl(27, 88%, 42%);
}
#remove-btn{
  background-color: hsl(0, 88%, 52%);
  border-color: hsl(0, 88%, 52%);
}
#remove-btn:hover{
  background-color: hsl(0, 88%, 42%);
}
#select-btn{
  background-color: hsl(270, 88%, 52%);
  border-color: hsl(270, 88%, 52%);
  padding: var(--space-xs) var(--space-xxl);
  margin-right: var(--space-s);
}
#select-btn:hover{
  background-color: hsl(270, 88%, 42%);
}
#reset-btn{
  color: hsl(0, 0%, 100%);
  background-color: hsl(140, 100%, 36%);
  border-color: hsl(140, 100%, 36%);
}
#reset-btn:hover{
  background-color: hsl(140, 100%, 28%);
}
.selector-container button{
  text-transform: uppercase;
}
.selector-container{
  margin-top: var(--space-s);
}

/* Error display */
#error-message{
  color: hsl(0, 100%, 50%);
  width: 100%;
  text-align: center;
  font-size: var(--text-sm);
  font-weight: bold;
  position: absolute;
  bottom: var(--space-xl);
  animation: error 1s infinite 1s alternate;
}
@keyframes error{
  from{
    color: hsl(0, 100%, 50%);
  }
  to{
    color: hsl(0, 100%, 40%);
  }
}

/*------------------------------------- Responsive styles for small screens --------------------------------*/
@media only screen and (max-width: 992px){
  .remove-and-counter-container{
    flex-direction: column;
    row-gap: var(--space-sm);
  }
}

@media only screen and (max-width: 768px){
  #error-message{
    font-size: var(--text-xs);
  }
  .input-container input[type=text]{
    padding: var(--space-xs) var(--space-sm);
    font-size: var(--text-base);
  }
}

@media only screen and (max-width: 576px){
  .input-container input[type=text]{
    font-size: var(--text-xs);
    min-width: 200px;
    align-items: flex-start;
  }
  .input-container button{
    font-size: var(--text-sm);
  }
  #error-message{
    font-size: var(--text-xs);
    bottom: var(--space-xl);
  }
  .winner-counter-container{
    flex-direction: column;
    row-gap: var(--space-sm);
  }
  .add-replace-container{
    flex-wrap: wrap;
    row-gap: var(--space-xxs);
  }
  .remove-range-container{
    max-width: 300px;
    flex-wrap: wrap;
    row-gap: var(--space-xxs);
  }
  #select-btn{
    padding: var(--space-xs) var(--space-xl);
  }
}