.list-container{
  padding: var(--space-xl);
  margin-top: var(--space-xl);
  position: relative;
}
.participants-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: var(--space-s);
  column-gap: var(--space-s);
  list-style-type: none;
  counter-reset: item;
  text-align: center;
}

#shuffle-btn{
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 10%, 0.8);
  left: var(--space-xxs);
  right: auto;
}
#shuffle-btn:hover{
  color: hsl(0, 0%, 10%);
  background-color: hsla(180, 100%, 50%, 0.6);
}
#remove-selected-btn{
  right: 84px;
}
#remove-selected-btn:hover{
  background-color: hsl(0, 0%, 50%);
}

#total-participants{
  position: absolute;
  top: calc(-1 * var(--space-lg));
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--text-xl);
  font-weight: bold;
  color: hsl(223, 100%, 38%);
  background-color: hsl(160, 100%, 86%);
  padding: var(--space-s) var(--space-xxl);
  border: 2px solid hsl(223, 100%, 38%);
  border-left: none;
  border-right: none;
  box-shadow: inset 0 0 var(--space-lg) hsl(47, 100%, 98%);
}