/* Participants List container */
.list-container{
  padding: var(--space-xl);
  margin-top: var(--space-xl);
  position: relative;
}

/* Participants name list */
.participants-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: var(--space-s);
  column-gap: var(--space-s);
  list-style-type: none;
  counter-reset: item;
  text-align: center;
}

/* Shuffle and Remove Selected list buttons */
#shuffle-btn{
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 10%, 0.8);
  left: var(--space-xxs);
  right: auto;
}
#shuffle-btn:hover{
  color: hsl(0, 0%, 10%);
  background-color: hsla(180, 100%, 50%, 0.6);
}
#remove-selected-btn{
  right: 84px;
}
#remove-selected-btn:hover{
  background-color: hsl(0, 0%, 50%);
}

/* Total Participants display*/
#total-participants{
  position: absolute;
  top: calc(-1 * var(--space-lg));
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: var(--text-xl);
  font-weight: bold;
  color: hsl(223, 100%, 38%);
  background-color: hsl(160, 100%, 86%);
  padding: var(--space-s) var(--space-xxl);
  border: 2px solid hsl(223, 100%, 38%);
  border-left: none;
  border-right: none;
  box-shadow: inset 0 0 var(--space-lg) hsl(47, 100%, 98%);
}

/*------------------------------------- Responsive styles for small screens --------------------------------*/
@media only screen and (max-width: 768px){
  #total-participants{
    font-size: var(--text-lg);
    padding: var(--space-s) var(--space-lg);
    top: calc(-1 * var(--space-xl));
  }
  .list-container{
    margin-top: var(--space-xxl);
  }
}

@media only screen and (max-width: 576px){
  .participants-list{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .list-container{
    padding: var(--space-md);
    margin-top: var(--space-xxl);
  }
  #total-participants{
    font-size: var(--text-base);
    padding: var(--space-xs) var(--space-s);
    top: -3.5rem;
  }
}