.winners-container{
  padding: var(--space-xl);
  position: relative;
  background-image: linear-gradient(90deg, hsl(139, 100%, 88%), hsl(100, 100%, 88%), hsl(139, 100%, 88%));
  box-shadow: inset 0 0 var(--space-xxl) hsl(47, 100%, 98%);
}
.winners-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: var(--space-s);
  column-gap: var(--space-s);
  list-style-type: none;
  counter-reset: item;
}
.winners-list .winners-list-item{
  text-align: center;
  align-self: center;
  color: hsl(0, 0%, 10%);
  font-size: var(--text-xl);
  font-weight: bold;
  padding: var(--space-xs) var(--space-xxl);
  background-color: hsl(54, 100%, 50%);
  box-shadow: inset 0 0 var(--space-md) hsl(35, 100%, 59%);
  counter-increment: item;
  position: relative;
  animation: winnersList 3s infinite 1s alternate;
  word-break: break-word;
}
@keyframes winnersList{
  from{
      background-color: hsl(54, 100%, 50%);
      box-shadow: inset 0 0 var(--space-md) hsl(35, 100%, 59%);
  }
  to{
      background-color: hsl(52, 100%, 50%);
      box-shadow: inset 0 0 var(--space-md) hsl(43, 100%, 59%);
  }
}
.winners-list .winners-list-item::before{
  content: counter(item);
  position: absolute;
  left: 0;
  bottom: calc(-1 * var(--space-xs));
  color: hsla(0, 0%, 100%, 0.8);
  padding: 0px var(--space-xxs);
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
}

#greeting{
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(38, 100%, 50%);
  position: absolute;
  top: var(--space-xxs);
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  letter-spacing: var(--space-xxs);
  opacity: 0.5;
  animation: greet 5s alternate infinite ease;
}
@keyframes greet{
  0%{
    color: hsl(38, 100%, 50%);
    letter-spacing: var(--space-xxs);
  }
  100%{
    color: hsl(20, 100%, 50%);
    letter-spacing: var(--space-md);
  }
}
  
#countdown-timer{
  font-size: 3.75rem;
  font-weight: bold;
  color: hsl(0, 0%, 10%);
  position: absolute;
  top: var(--space-s);
  left: 50%;
  transform: translateX(-50%);
  animation: countdown 1s ease infinite;
}
@keyframes countdown{
  0%{
    color: hsl(0, 0%, 10%);
  }
  100%{
    color: hsl(170, 100%, 18%);
  }
}

.winners-original-index{
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(246, 255, 0);
  padding: var(--space-xxs) var(--space-xs);
  font-size: var(--text-base);
}