.list-item{
  display: flex;
  color: hsl(0, 0%, 10%);
  font-size: var(--text-lg);
  font-weight: bold;
  padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-lg);
  background-color: hsl(163, 100%, 88%);
  counter-increment: item;
  position: relative;
  align-self: center;
}
.list-item::before{
  content: counter(item);
  position: absolute;
  left: 0;
  color: hsl(0, 0%, 10%);
  background-color: hsl(267, 100%, 92%);
  padding: 0px var(--space-xxs);
  font-size: var(--text-sm);
  font-weight: bold;
}
.list-item button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.list-item button:hover{
  background-color: hsl(163, 100%, 68%);
}

.list-text{
  padding-right: var(--space-xs);
  flex: 1;
  word-break: break-word;
}
.move-icon, .remove-icon{
  font-size: var(--text-lg);
  padding: 0 var(--space-xxs);
  color: hsl(0, 0%, 64%);
}
.remove-icon{
  color: rgb(199, 69, 69);
}

.selected{
  background-image: linear-gradient(hsl(0, 0%, 60%), rgb(208, 208, 208));
  color: hsl(0, 0%, 40%);
  pointer-events: none;
}
.remove-range-highlight{
  background-color: hsl(0, 100%, 88%);
}
.add-replace-highlight{
  box-shadow: inset 0 0 var(--space-xs) hsl(243, 100%, 33%);
}